{% block a2lix_translations_widget %}
    {% from 'A2lixTranslationFormBundle::macros.html.twig' import translations_locales %}

    {{ form_errors(form) }}

    <div class="a2lix_translations tabbable">
        {{ translations_locales(form) }}

        <div class="a2lix_translationsFields tab-content">
            {% for translationForm in form %}
                {% set locale = translationForm.vars.name %}

                <div class="{{ translationForm.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if locale == app.request.locale %}active{% endif %} {% if not translationForm.vars.valid %}sonata-ba-field-error{% endif %}">
                    {{ form_errors(translationForm) }}
                    {{ form_widget(translationForm) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
