{% block a2lix_translations_widget %}
    {{ form_errors(form) }}
    {% set activeLocale = null %}

    {% for translationForm in form %}
        {% if not activeLocale and not translationForm.vars.valid %}
            {% set activeLocale = translationForm.vars.name %}
        {% endif %}
    {% endfor %}

    {% if not activeLocale %}
        {% set activeLocale = app.request.locale %}
    {% endif %}

    <div class="a2lix_translations tabbable">
        <ul class="a2lix_translationsLocales nav nav-tabs">
            {% for translationForm in form %}
                {% set locale = translationForm.vars.name %}

                <li class="{% if locale == activeLocale %}active{% endif %} {% if not translationForm.vars.valid %}has-error{% endif %}">
                    <a href="#" data-toggle="tab" data-target=".{{ translationForm.vars.id }}_a2lix_translationsFields-{{ locale }}">
                        {{ translationForm.vars.label|default(locale|humanize)|trans }}
                        {% if form.vars.default_locale == locale %}{{ form.vars.default_label|default('[Default]')|trans }}{% endif %}
                        {% if translationForm.vars.required %}{{ form.vars.default_label|default('[Required]')|trans }}{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="a2lix_translationsFields tab-content">
            {% for translationForm in form %}
                {% set locale = translationForm.vars.name %}

                <div class="{{ translationForm.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if locale == activeLocale %}active{% endif %} {% if not translationForm.vars.valid %}sonata-ba-field-error{% endif %}">
                    {{ form_errors(translationForm) }}
                    {{ form_widget(translationForm) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
